version: '3.2'

services:

  frontend:
    build: frontend
    ports:
      - 20080:80
    environment:
      DB_HOST: mysql
      DB_NAME: yii2advanced
      DB_USER: yii2advanced
      DB_PASSWORD: secret
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app
    depends_on:
      - mysql

  backend:
    build: backend
    ports:
      - 21080:80
    environment:
      DB_HOST: mysql
      DB_NAME: yii2advanced
      DB_USER: yii2advanced
      DB_PASSWORD: secret
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=verysecret
      - MYSQL_DATABASE=yii2advanced
      - MYSQL_USER=yii2advanced
      - MYSQL_PASSWORD=secret

  #pgsql:
  #  image: postgres:9.5
  #  environment:
  #    - POSTGRES_DB=yii2advanced
  #    - POSTGRES_USER=yii2advanced
  #    - POSTGRES_PASSWORD=secret
